<div data-role="header">
	<h1>Aaja Nachle</h1>
  <%= link_to "Purchases", purchases_path, :data => {:icon => "grid"}, :class=> "ui-btn-right" %>
</div>


<div data-role="content" data-shadow="true">
  <center><img class="ui-image" id="movie"  src="http://upload.wikimedia.org/wikipedia/en/9/97/Aaja_Nachle_Poster.jpg" /></center>
  <div class="movie_intro">
    A New York dance instructor returns to her home village in India after 11 years to find that the arts centre where she learned her craft is to be demolished and replaced with a shopping mall.
  </div>
  <%= link_to "Book Now!", new_purchase_path, :data => { :role => "button", :icon => "star",  :transition => "slide"}%>
  <%# link_to "Cancel Ticket", home_index_path, "data-role"=>"button"%>
</div>

<div data-role="footer" data-theme="c">
  <center>Created and Maintained by UDProducts</center>
</div>
