<div data-role="header">
	<h1>Men In Black</h1>
  <%= link_to "Purchases", purchases_path, :data => {:icon => "grid"}, :class=> "ui-btn-right" %>
</div>


<div data-role="content" data-shadow="true">
  <center><img class="ui-image" id="movie"  src="http://cdn01.cdn.justjared.com/wp-content/uploads/headlines/2012/05/men-in-black-3-poster.jpg" /></center>
  <div class="movie_intro">
    Agent J travels in time to MIB's early years in the 1960s, to stop an alien from assassinating his friend Agent K and changing history.
  </div>
  <%= link_to "Book Now!", new_purchase_path, :data => { :role => "button", :icon => "star",  :transition => "slide"}%>
  <%# link_to "Cancel Ticket", home_index_path, "data-role"=>"button"%>
</div>

<div data-role="footer" data-theme="c">
  <center>Created and Maintained by UDProducts</center>
</div>
