<div data-role="header">
	<h1>Billa 2</h1>
  <%= link_to "Purchases", purchases_path, :data => {:icon => "grid"}, :class=> "ui-btn-right" %>
</div>


<div data-role="content" data-shadow="true">
  <center><img id="Movie"  src="http://www.ajithfans.com/article-uploads/2012/04/billa2-telugu.jpg" /></center>
  <div class="movie_intro">
    An ordinary man from the slums enters an underworld gang and becomes the most feared underworld don.
  </div>
  <%= link_to "Book Now!", new_purchase_path, :data => { :role => "button", :icon => "star",  :transition => "slide"}%>
  <%# link_to "Cancel Ticket", home_index_path, "data-role"=>"button"%>
</div>

<div data-role="footer" data-theme="c">
  <center>Created and Maintained by UDProducts</center>
</div>