<div data-role="header">
	<h1>Battle Ship</h1>
  <%= link_to "Purchases", purchases_path, :data => {:icon => "grid"}, :class=> "ui-btn-right" %>
</div>


<div data-role="content" data-shadow="true">
  <center><img id="Movie"  src="http://www.battleshipmovie.co/wordpress/wp-content/uploads/2012/05/Battleship.jpg" /></center>
  <div class="movie_intro">
    A fleet of ships is forced to do battle with an armada of unknown origins in order to discover and thwart their destructive goals.
  </div>
  <%= link_to "Book Now!", new_purchase_path, :data => { :role => "button", :icon => "star",  :transition => "slide"}%>
  <%# link_to "Cancel Ticket", home_index_path, "data-role"=>"button"%>
</div>

<div data-role="footer" data-theme="c">
  <center>Created and Maintained by UDProducts</center>
</div>
