<div data-role="header" data-title="Page Foo" data-position="inline" >
  <%= link_to "Home", root_path, :data => {:icon => "home"} %>
	<h1>Book new ticket</h1>
</div>

<div data-role="content">

<%= render 'form' %>


</div>


